version: '3.8'

services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=askme_db
      - POSTGRES_USER=askme_user
      - POSTGRES_PASSWORD=askme_pass
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U askme_user -d askme_db"]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "5433:5432"

  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - "6379:6379"

volumes:
  postgres_data: