{%extends 'base.html'%}

{%block title%}Create Question{%endblock%}

{%block content%}
    <div class = "main-container">
        <div class = "h2-container">
            <h2>New Question</h2>
        </div>
         <form method="POST" action="{% url 'ask' %}" class="input-question">
            {% csrf_token %}

            <div data-label="Title">
                <input 
                    type="text" 
                    class="answer-field title-field" 
                    placeholder="Enter your question title" 
                    name="title" 
                    id="title-field"
                    
                    required
                >
                {% if form.title.errors %}
                    <div class="error-text">{{ form.title.errors }}</div>
                {% endif %}
            </div>
            
            <div data-label="Text">
                <textarea 
                    class="answer-field text-field" 
                    placeholder="Give a bit more info about your question" 
                    name="question_text" 
                    id="question-text-field" 
                    rows="5"
                    required
                ></textarea>
                {% if form.question_text.errors %}
                    <div class="error-text">{{ form.question_text.errors }}</div>
                {% endif %}
            </div>
            
            <div data-label="Tags">
                <input 
                    type="text" 
                    class="answer-field tags-field" 
                    placeholder="Add tags separated by commas (e.g., python, django, web)" 
                    name="tags_input" 
                    id="tags-field"
                >
                {% if form.tags_input.errors %}
                    <div class="error-text">{{ form.tags_input.errors }}</div>
                {% endif %}
            </div>
        
            <div class="btn-wrapper">
                <button type="submit" class="ans-btn">ASK!</button>
                <a href="{% url 'index' %}">Cancel</a>
            </div>
        </form>
    </div>
{%endblock%}
        