{% extends "base.html" %}

{%block title%}Question List{%endblock%}

<!-- Левая колонка, в которой основная информация текущей страницы -->
{%block content %}
    <div class = "main-container">
        <div class = "h2-container">
            <h2>New Questions</h2>
            <h2><a href ="#">Hot Questions</a></h2>
        </div>

        {% for q in questions %}
            <div class="question-wrapper">
                <div class = "photo"><img src="{{ q.photo }}"></div>
                <div>
                    <div class="text-wrapper">
                        <div class = "h2-container">
                            <h2>
                                <a href ="">{{ q.title }}</a> 
                            </h2>
                        </div>
                        <div>
                            <p>{{q.question_text}}</p>
                        </div>
                    </div>

                    <div class="question-lowbar">
                        <div class = "question-tags">
                            tags:
                            {% for tag in q.tags %}
                                <a href="">{{ tag }}</a>
                            {% endfor %}
                        </div>
                        <div class = "answer-btn">
                            <a href ="">answer({{q.answer_count}})</a>
                        </div>
                        <div class = "like-btn">
                            {{q.like_count}}
                            <input type ="checkbox" id = "like-btn">
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class = "pagination">
            <button>1</button>
            <button>2</button>
            <button class="fake-btn">...</button>
            <button>52</button>
        </div>
    </div>
{% endblock %}
