{%extends 'base.html'%}

{%load static%}

{%block title%}Question{%endblock%}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{%block content%}        
    <div class = "main-container">
        {% csrf_token %}
        <section id = "start-question">
            <div class="question-wrapper">
                <div class="photo">
                    {% if question.author.avatar %}
                        <div class = "photo"><img src="{{ question.author.avatar.url }}" alt="avatar"></div>
                    {% else %}
                       <div class = "photo"><img src="{% static 'img/profilepic.png' %}" alt="avatar"></div>
                    {% endif %}
                </div>
                <div>
                    <div class="text-wrapper">
                        <div class = "h2-container">
                            <h2>{{question.title}}</h2>
                        </div>
                        <div>
                            <p>{{question.question_text}}</p>
                        </div>
                    </div>

                    <div class="question-lowbar">
                        <div class = "question-tags">
                            tags:
                            {% for tag in question.tags.all %}
                                <a href="{% url 'tag' tag %}">{{ tag }}</a>
                            {% endfor %}
                        </div>
                        <div class="rating" id="{{ question.id }}-rating">
                            <span class="rating__value" id="{{ question.id }}-rating_value">{{ question.like_count }}</span>
                            {% if user.is_authenticated and user != question.author %}
                            <button type="button" onclick="sendLike('question', {{ question.id }})" class="rating__btn">Like</button>
                            <button type="button" onclick="sendDislike('question', {{ question.id }})" class="rating__btn">Dislike</button>
                            {% endif %}
                            </div>
                    </div>
                </div>
            </div>
        </section>
        <section class = "answers">
            {%for answer in answers%}
            <div class="answer-wrapper" id="answer-{{ answer.id }}">
                <div class="photo">
                    {% if answer.author.avatar %}
                       <div class = "photo"> <img src="{{ answer.author.avatar.url }}" alt="avatar"> </div>
                    {% else %}
                       <div class = "photo"> <img src="{% static 'img/profilepic.png' %}" alt="avatar"></div>
                    {% endif %}
                </div>
                <div>
                    <div class="text-wrapper">
                        <div>
                            <p>{{answer.text}}</p>
                        </div>
                    </div>

                    <div class="answer-lowbar">
                        {% if user.is_authenticated and user == question.author %}

                        <div class="correct-btn">
                            <input
                                type="checkbox"
                                id="correct-{{ answer.id }}"
                                onchange="toggleCorrect({{ question.id }}, {{ answer.id }}, this.checked)"
                                {% if answer.is_correct %}checked{% endif %}
                            >
                            Correct!
                        </div>
                        {%endif%}

                        <div class="rating" id="{{ answer.id }}-rating">
                            <span class="rating__value" id="{{ answer.id }}-rating_value">{{ answer.like_count }}</span>
                            <button type="button" onclick="sendLike('answer', {{ answer.id }})" class="rating__btn">Like</button>
                            <button type="button" onclick="sendDislike('answer', {{ answer.id }})" class="rating__btn">Dislike</button>
                        </div>                          
                    </div>

                </div>
            </div>
            {%endfor%}

        </section>

        <section class = "new-answer">
                <form method="post" action="{% url 'question_details' question.pk %}">
                {% csrf_token %}
                <div class="input-answer">
                    <div>
                        {{ answer_form.text }}
                        {% if answer_form.text.errors %}
                            <div style="color:red; font-size: 1rem">
                                {% for error in answer_form.text.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="btn-wrapper">
                        <button type="submit" class="ans-btn">Answer</button>
                    </div>
                </div>
            </form>
        </section>

    </div>
{%endblock%}

{% block scripts %}
    <script src="{% static 'js/script.js' %}" defer></script>
{% endblock %}