{% extends 'base.html'%}

{%block title%}Log In{%endblock%}

{%block content%}
    <!-- Левая колонка, в которой основная информация текущей страницы -->
    <div class = "main-container">
        <div class = "h2-container">
            <h2>Log in</h2>
        </div>
        

            <form method="post">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <div style="color:red; font-size: 1rem">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="login-form">
                    <div class="form-row">  
                        <label for="{{ form.username.id_for_label }}">Username</label>
                            {{ form.username }}
                        {% if form.username.errors %}
                            <div style="color:red; font-size: 1rem">
                                {% for error in form.username.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-row">  
                        <label for="{{ form.password.id_for_label }}">Password</label>
                            {{ form.password }}
                        {% if form.password.errors %}
                            <div style="color:red; font-size: 1rem">
                                {% for error in form.password.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <button type = "submit" class = "btn">Login</button>
                </div>
            </form>


            

            {% comment %} <div class="form-row">
                <div class="form-label">Email</div>
                <input type="text" class="input-field" placeholder="saucesamba@vk.com" id="email-field">
            </div>

            <div class="btn-container">
                <div>
                    <a href = "{%url 'profile'%}" class = "login-btn">Log in</a>
                </div>
                <div>
                    <a href = "{%url 'signup' %}" class = "account-link">Create new account</a>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
{%endblock%}