{% extends 'base.html'%}

{%block title%}Sign UP{%endblock%}

{%block content%}
    <!-- Левая колонка, в которой основная информация текущей страницы -->
    <div class = "main-container">
        <div class = "h2-container">
            <h2>Registration</h2>
        </div>

        {% if form.non_field_errors %}
            <div class="error-message" style ="color:red">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}

        <form method="POST" action="{% url 'signup' %}" class="login-form">
            {% csrf_token %}

            <div class="form-row">
                <div class="form-label">{{ form.username.label_tag }}</div>
                {{ form.username }}

                {% if form.username.errors %}
                    <div style="color:red; font-size: 1rem">
                        {% for error in form.username.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-row">
                <div class="form-label">{{ form.email.label_tag }}</div>
                {{ form.email }}

                {% if form.email.errors %}
                    <div style="color:red; font-size: 1rem">
                        {% for error in form.email.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-row">
                <div class="form-label">{{ form.nickname.label_tag }}</div>
                {{ form.nickname }}
                {% if form.nickname.errors %}
                    <div style="color:red; font-size: 1rem">
                        {% for error in form.nickname.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-row">
                <div class="form-label">{{ form.password.label_tag }}</div>
                {{ form.password }}

                {% if form.password.errors %}
                    <div style="color:red; font-size: 1rem">
                        {% for error in form.password.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-row">
                <div class="form-label">{{ form.password2.label_tag }}</div>
                {{ form.password2 }}

                {% if form.password2.errors %}
                    <div style="color:red; font-size: 1rem">
                        {% for error in form.password2.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-row">
                <div class="form-label">{{ form.avatar.label_tag }}</div>
                {{ form.avatar }}

                {% if form.avatar.errors %}
                    <div style="color:red; font-size: 1rem">
                        {% for error in form.avatar.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="btn-container">
                <div>
                    <button type="submit" class = "login-btn">Register</button>
                </div>
            </div>
        </form>
    </div>
{%endblock%}